/*.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }*/

  #sky{
    height: 440px;

    background-color: lightcyan
  }
  .posts{
    width:50%;
    margin-left: 2%;
    margin-top: 8%;
  }
  #postcard{
   
    border-radius: 10px;padding-right: 20px;
    background-image:white;
  }
  #postcard:hover{
    box-shadow: 10px 10px 10px 10px lightgray;
  }
  #croppost{
    padding: 25px;
      background-image: linear-gradient(rgb(0, 0, 0),rgba(184, 164, 164, 0.993));
       opacity: 0.1px;color: white
  }
  #pic{
    margin-right: 20%;
    float:right; 
    width: 150px;
    height: 150px;
    background: black;
    color: white;
    border-radius: 50%;
    box-shadow: 10px 10px 5px  lightskyblue;
  }
  #letter{
    color: white;
    font-size: 70px;
    padding: auto;
    margin-left: 50px;
    margin-top: 62px;
}

  
img.fit-picture{
  width: 300px;
  height: 200px;
  transition:0.3s ease-in-out
}

img.fit-picture:hover{
  transition: 0.3 ease-in-out;
  transform: scale(1.1);
}
 
  #search{
    margin-top: 5px;
    float:left;
    margin-left: 2%;
  }
  #placebutton{
    margin-top: 35px;
    float: right;
    margin-right: 12%;
  }
  .full-width{
    width: 251%;
  }
  
  .example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
  
  .example-item {
    height: 50px;
  }
  #fixed-content {
    top: 8%;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
  }
  #fixed-content::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  #fixed-content-right{
    top: 18%;
    width: 35%;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
  }

  #fixed-content-right::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  
  label{
    font-weight: bold;
  }