<div id="sky">
<div id="cloud-intro"></div>
<div  id="fixed-content">
<p style="font-size: x-large;">Hello Wanna Start Your own Business</p>
<p>As a Farmer your on the Right Site</p><br>
<button mat-raised-button (click)="onSelect(1)"style="background-color:greenyellow">Farmer</button>&nbsp;
<button mat-raised-button (click)="onSelect(2)" style="background-color:black;color: white">Dealer</button>
<p style="font-size: x-large;margin-top:70px">Make it quick!!</p>
<p>Farmers make your posts appealing to the Dealers and receive Best prices!!</p>
<p>start your journey with us...</p>
<button mat-raised-button (click)="onSelect(1)"style="background-color:greenyellow">Farmer</button>&nbsp;
<p style="font-size: x-large;margin-top:70px">Check Out the posts!!</p>
<p>Dealers make your best choices and subscribe to the farmer</p>
<p>Wanna start with your first purchase...</p>
<button mat-raised-button (click)="onSelect(2)" style="background-color:black;color: white">Dealer</button>

</div>
</div>
<img src="/assets/data/linegrass.png" style="background-size: contain;height: 260px;width:100%;background-attachment: fixed;"/>